.chats-body {
  padding: 10px 0px;
}

.chats-body .status-bar,
.chats-body .header {
  padding: 0px 20px;
}

.chat-screen {
  background-image: url(../images/chatBg.png);
  min-height: 100vh;
}

.chat__write {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  bottom: 50px;
  width: 80%;
  background-color: #fcfcfc;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.chat__write-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}
.chat__write .chat__write-column:nth-child(2) {
  width: 85%;
}
.chat__write .chat__write-column input {
  padding: 10px 10px;
  width: 100%;
  border: none;
}
.chat__write-column input:focus {
  outline: none;
  /* background-color: red; */
}

.chat__write-icon {
  padding: 0px 5px;
}
