.more .more__btn-icon {
  display: block;
  padding: 10px;
}

.more .suggestion__icon {
  padding: 10px;
  background-color: #fce006;
  border-radius: 10px;
  color: white;
}
.more .suggestion__title {
  margin-top: 15px;
}

.more .more__btn-list {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid #f7f7f7;
}

.more .more__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  opacity: 0.7;
}

.more .more__suggestions {
  border-top: 1px solid #f7f7f7;
  margin-top: 40px;
}

.more .more__suggestions-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

.more .more__suggestion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}
